*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* Nav CSS */
.nav-links{
  margin-right:3em;
}
nav{
  background:#303633;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:8vh;
}
nav ul{
  display:flex;
  list-style:none;
}
nav a{
  text-decoration:none;
  margin-right: 1.3em;
  color:white;
}
.logo-name{
  color:white;
  margin-left:3em;
  font-weight: bolder;
}
/* Homepage CSS */
section{
  height:90vh;
}
.first{
  background:url('./assets/foods.jpg');
  background-size: cover;
  background-position:center;
}
.quote{
  color:white;
  font-family: Algerian;
  font-size:3em;
  text-align: center;
  margin:0 auto;
  padding-top: 2em;
}
.text{
  margin:0 auto;
  color:#A9A6AA;
  font-family: Cooper;
  font-size:2em;
  margin-top:3em;
  text-align: center;
  width:80%;
}